.footer li {
    box-shadow: 0 0 10px cyan;
}

@media screen and (max-width:550px){
    
    .footer ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 290px;
        /* border: 2px solid pink; */
        width: 200px;
        margin: 2% auto;
        padding: 10px 80px;
        gap: 3%;
    }
    hr{
        width: 200px;
        margin:  2px auto;
    }
    
}