@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

* {
  color: white;

  /* background-image: url("https://images.pexels.com/photos/1711323/pexels-photo-1711323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  width: 100%;
  /* padding: 2%; */
  /* border: 3px solid blue; */
  /* height: 80vh; */
  /* margin-top: 3%; */
  height: 90vh;
  display: flex;
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  background-image: url("https://images.pexels.com/photos/633409/pexels-photo-633409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
 
 
  

  /* gap: 5%; */
}
.left span{
  font-family: "Cedarville Cursive", cursive;
}
.main .left {
  /* border: 1px solid orange; */
  
  /* display: flex; */
  flex-direction: column;
 
  padding-left: 12%;
  width: 700px;
  height: 300px;
  padding: 0;
  /* text-align: center; */
  
  

 

}
.main .left h1 {
  margin-top: 35px;
  font-size: 70px;
  /* line-height: 5px; */
  /* margin-bottom: 3%; */
  text-align: center;
  font-family: "Cedarville Cursive", cursive;
}
.main .left p {
  font-size: 35px;
  line-height: 25px;
  margin-right: 40px;
  font-weight: 600;
 
text-align: center;
/* color: gray; */
}
.main .right {
  /* border: 1px solid white; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  clip-path: ellipse(44% 43% at 50% 50%);
  padding-right: 15%;

 
  /* margin-right: 5%; */
}
.icons ul {
  display: flex;
  list-style: none;
  gap: 2%;
  margin-top: 4%;
}
.icons ul li {
  width: 50px;
  height: 50px;
  border: 3px solid red;
  border-radius: 50%;
}
.git {
  background-color: gray;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 15%;
  margin-left: 15%;
}
#but {
  width: 200px;
  margin-top: 5%;
  /* border: 3px solid blue; */
  padding: 10px 40px;
  font-size: 22px;
  border-radius: 5px;
  /* background-color: rgb(252, 16, 86); */
  background-color: rgb(19, 185, 185);

  color: black;
  
}
.main .contentInfo{
  width: 800px;
  height: 300px;
  border: 2px solid red;
  margin: 3% auto;
}

@media screen and (max-width:550px){
  .main .left{
    width: 100%;
    /* border: 7px solid green; */
    /* height: 200px; */
    /* padding: 5px 15px; */
    margin: 1px auto;
  }
  .main .left h1{
    font-size: 40px;
  }
  .main .left p{
    font-size: 18px;
  }
  #p{
    display: none;
  }
}